:root {
  --global-theme-color: #0B4F8A !important;
  --global-hover-color: #003B6F !important;
}

a,
a:hover,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item.active > .nav-link {
  color: #0B4F8A !important;
}
